<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="menu-icon mdi mdi-select-all"></i>
        <span class="menu-title">Semua Reservasi</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="a.html">
        <i class="menu-icon mdi mdi mdi-book "></i>
        <span class="menu-title">Belum Dibaca</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="b.html">
        <i class="menu-icon mdi mdi-book-open-page-variant"></i>
        <span class="menu-title">Sudah Dibaca</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="b.html">
        <i class="menu-icon mdi mdi mdi-comment-processing"></i>
        <span class="menu-title">Diproses</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="b.html">
        <i class="menu-icon mdi mdi-backup-restore "></i>
        <span class="menu-title">Dikembalikan</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="b.html">
        <i class="menu-icon mdi mdi-bookmark-check "></i>
        <span class="menu-title">Sudah Direvisi</span>
      </a>
    </li>
    <li class="nav-item nav-category">Data Beserta Bukti</li>
    <li class="nav-item">
      <a class="nav-link" href="b.html">
        <i class="menu-icon mdi mdi-codepen"></i>
        <span class="menu-title">Reservasi beserta bukti</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="b.html">
        <i class="menu-icon mdi mdi mdi-comment-check "></i>
        <span class="menu-title">Disetujui</span>
      </a>
    </li>
</ul>