<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <%- include('../template/head') %>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <%- include('../template/nav') %>
      <section class="py-0" id="home">
        <div class="bg-holder d-none d-md-block" style="background-image:url(../assets/img/illustrations/hero-section.png);background-position:right bottom;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder d-block d-md-none" style="background-image:url(../assets/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row align-items-center min-vh-md-75">
            <div class="col-md-7 col-lg-6 py-6 text-sm-start text-center">
              <h1 class="mt-6 mb-sm-4 display-4 fw-semi-bold lh-sm fs-4 fs-lg-6 fs-xxl-7">Penerimaan Tamu <br class="d-block d-lg-none d-xl-block" />Kota Yogyakarta</h1>
              <p class="mb-4 fs-1">MANGAYU HAYUNING BAWONO </p>
              <div class="pt-3">
                <a href="procedures" class="btn btn lg btn-primary">Reservasi</a>
                <a href="" class="btn btn lg btn-info">Riwayat</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-0">
        <div class="container">
          <div class="row align-items-center min-vh-md-19">
            <div class="col-md-3 col-lg-3 py-3 text-sm-start text-center">
              
            </div>
          </div>
        </div>
      </section>

      <section class="py-0">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center">
            <div class="col-auto mb-2">
              <p class="mb-0 fs--1 my-2 text-center">&copy; This template is made with&nbsp;
                <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#723182" viewBox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                </svg>&nbsp;by&nbsp;<a href="https://themewagon.com/" target="_blank">ThemeWagon </a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <%- include('../template/javascript') %>
  </body>

</html>