<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <%- include('../template/head') %>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <%- include('../template/nav') %>
      

      <section id="libraries">
        <!--/.bg-holder-->

        <div class="container">
          <div class="row g-xl-0 align-items-center">
            <div class="col-md-12 col-lg-12 text-center text-md-start offset-lg-12 offset-xxl-0">
              <h1 class="fw-semi-bold text-warning">Tata <span class="text-1100">cara</span></h1>
              <p class="pt-3 lh-lg">
                1). Menyampaikan surat permohonan kunjungan/pelaksanaan diklat melalui surat kepada Walikota Yogyakarta dan dikirimkan ke alamat : Balaikota Yogyakarta, Jalan kenari No. 56 Yogyakarta 55165 atau dikirim melalui fax ke nomor : 0274 520332. Pemohon dapat terlebih dahulu melakukan reservasi secara online melalui website ini. Meskipun demikian, penjadwalan kunjungan akan tetap dilaksanakan setelah Pemerintah Kota Yogyakarta menerima surat resmi yang dikirimkan melalui pos atau fax.
              </p>
              <p class="pt-3 lh-lg">
                2). Surat permohonan kunjungan/pelaksanaan diklat mencantumkan informasi tentang :
                <ul>
                    <li>Nama instansi</li>
                    <li>Jumlah peserta kunjungan atau diklat.</li>
                    <li>Maksud dan tujuan kunjungan.</li>
                    <li>Organisasi Perangkat Daerah (OPD) atau Unit Kerja yang diharapkan menjadi narasumber dan topik yang akan dibahas dalam kunjungan/diklat.</li>
                    <li>Hari, tanggal, dan waktu penerimaan kunjungan atau diklat yang diharapkan.</li>
                    <li>Nama dan nomor handphone contact person(s) yang akan melaksanakan koordinasi kunjungan atau diklat.</li>
                </ul>
              </p>
              <p class="pt-3 lh-lg">
                3). Surat permohonan diterima oleh Pemerintah Kota Yogyakarta PALING LAMBAT 7 (TUJUH) HARI KERJA sebelum pelaksanaan penerimaan kunjungan. Khusus untuk pelaksanaan Diklat, batas waktu penerimaan surat adalah 14 (EMPAT BELAS) HARI KERJA.
              </p>
              <p class="pt-3 lh-lg">
                4). Mengkonfirmasi surat dan detail rencana kunjungan atau pelaksanaan diklat ke petugas penerima tamu Bagian Protokol Setda Kota Yogyakarta melalui nomor kontak 0123456789.
              </p>
              <p class="pt-3 lh-lg">
                5). Melengkapi Surat Perintah Perjalanan Dinas (SPPD) dengan nama peserta dan tanggal kunjungan. Penandatanganan hanya akan dilakukan untuk SPPD yang telah diisi secara lengkap dan sesuai dengan jumlah peserta kunjungan yang hadir saat acara penerimaan kunjungan.
              </p>
              <p class="pt-3 lh-lg">
                6). Mohon hadir tepat waktu dan berpakaian rapi atau formal.
              </p>
              <p class="pt-3 lh-lg">
                7). Jadwal Penerimaan Kunjungan di Pemerintah Kota Yogyakarta : <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;Selasa s.d Kamis : pukul 09.00 W.I.B dan pukul 13.00 W.I.B <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;Jumat : pukul 09.30 sampai 11.00 W.I.B <br/>
              </p>
              <p class="pt-3 lh-lg">
                8). Penerimaan Kunjungan dimungkinkan digabung dengan rombongan kunjungan lainnya dikarenakan keterbatasan waktu dan tempat.
              </p>
              <p class="pt-3 lh-lg">
                9). Kunjungan dengan jumlah peserta sedikit dan terkait dengan satu OPD atau Unit Kerja tertentu dapat difasilitasi Bagian Protokol Setda Kota Yogyakarta untuk diterima langsung di OPD atau Unit Kerja terkait.
              </p>
              <div class="py-3">
                <b>Apakah anda setuju dengan tata cara yang berlaku?</b><br/>
                <input type="checkbox" id="check"> Saya telah membaca dan memahami Tata Cara Penerimaan Kunjungan di Pemerintahan Kota Yogyakarta <br/>
                <br/>
                <a href="list_menu" class="btn btn-lg btn-info rounded-pill font-base">Batalkan</a>
                <a href="/reservation" class="btn btn-lg btn-primary rounded-pill font-base" id="next">Lanjutkan</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-0">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center">
            <div class="col-auto mb-2">
              <p class="mb-0 fs--1 my-2 text-center">&copy; This template is made with&nbsp;
                <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#723182" viewBox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                </svg>&nbsp;by&nbsp;<a href="https://themewagon.com/" target="_blank">ThemeWagon </a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <%- include('../template/javascript') %>
    <script>
        $(document).ready(function(){
            $("#next").addClass("disabled");
            $("#check").change(function(){
                if($("#check").is(":checked") == true){
                    $("#next").removeClass("disabled");
                }else{
                    $("#next").addClass("disabled");
                };
            });
        })
    </script>

  </body>

</html>